$fontMer : 'Merriweather', serif;
  .contact-body{
        height: 95vh;
        background: linear-gradient(122.77deg, #FFFFFF 14.75%, #FAFEF8 56.28%, #D3DFD6 78.54%);
        background-size: cover;
        padding-top: 80px;
       .center-container{
           width: 75%;
           height:auto;
           margin-right: auto;
           margin-left: auto;
           text-align: center;
           background-color: #FFFFFF;
           box-shadow: 5px 5px 15px -5px #00000070;
           padding: 0 25px;
           img{
            width: 32px;
            height: 32px;
          }
           h2{
               padding: 30px;
               border-bottom: 1px solid lightgray ;
               font-family: $fontMer;
               color:  #363E33;
           }
           .social{
            
               padding: 20px 30px;
               margin-right: auto;
               margin-left: auto;
               h3{
                   color: #98514D;
                   padding: 3%;
               }
               .numere{
                   padding: 10px;
                   color: #98514D;
                   font-weight: bold;
               }

               .social-media-links{
                   margin-top: 25px;
                .mail{
                    margin-top: 20px;
                    padding-bottom: 40px;
                 
                }
               }
           }

       }
    }