$fontMer : 'Merriweather', serif;
.tarife-container{
   #title{
    color: #414d3c;
    padding: 40px;
    text-align: center;
    font-size: 2.5rem;
    
    font-family: $fontMer;
    font-weight: 400;
   }

    height: auto;
    background: radial-gradient(#FFFFFF 44.75%, #FAFEF8 66.28%, #D3DFD6 98.54%);
        table{
            padding: 30px 30px 130px 30px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;     
            border-spacing: 10px;      
                
            
            
            td{
                border: none;
                background-color: #ffffff;
                box-shadow: 5px 5px 8px -5px #00000070;
                color: #98514D;
                font-weight: 600;
                width: auto;
                padding: 40px;
                height: 50px;
                margin-right: 10px;
                background-color: #FFFFFF;
            }
        }
    }
